.banner{
    background: url(https://photos.gurushots.com/unsafe/600x0/18be37e9d7d3f352526ee16f48fe447d/3_ee983fb47305c227da443cc7c23e9da2.jpg) center/cover no-repeat;
    opacity: 95%;
    /*height: calc(96vh - 95px);*/
}

.banner__presentacion{
    display: flex;
    height: 98%;
    flex-direction: column;
    justify-content: space-between;
}

.banner__texto{
    text-align: right;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 80%;
    align-self: flex-end;
}

.banner__texto--bienvenida{
    font-size: 3.2rem;
    font-weight: 900;
    color: #F5DF4D;
    font-family: 'Cormorant Garamond', serif;
}

.banner__texto--saludo{
    font-size: 4rem;
    font-weight: 900;
    color: #FFFFFF;
    font-family: 'GFS Didot', serif;
    flex-grow: 1;
    margin: 5% 0;
}

.banner__texto--parrafo{
    font-size: 1.2rem;
    font-weight: 900;
    color: #FFFFFF;
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 0 0 #ffffff;
    padding: 16px 0 16px 10px;
}

.banner__texto--sobreMi{
    font-size: 1.4rem;
    font-weight: 900;
    color: #F5DF4D;
    font-family: 'Cormorant Garamond', serif;
    text-decoration: underline;
    height: 1.5rem;
    display: block;
    padding-bottom: 1rem;
}

.banner__enlaces{
    text-align: right;
    display: flex;
    justify-content: end;
    gap: 0.6rem;
}

/************ MEDIA QUERYS ***********/
@media screen and (min-width: 768px){
    .banner__texto--saludo{
        width: 40rem;
        align-self: end;
    }
}


@media screen and (min-width: 1024px){
    .banner{
        height: calc(96vh - 50px);
    }
    .banner__texto--saludo{
        width: 50rem;
        align-self: end;
        font-size: 6rem;
    }
    .banner__texto--parrafo{
        width: 25rem;
        align-self: end;
    }
    .banner__texto--sobreMi{
        padding-top: 0.2rem;
    }
    .banner__enlaces{
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 1200px){
    .banner__presentacion{
        gap: 1rem;
    }
    .banner__texto--saludo{
        width: 60rem;
    }
}

@media screen and (min-height: 650px){
    .banner__texto--parrafo{
        font-size: 1.5rem;
    }
}