.body{
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Edu QLD Beginner', cursive;
    font-family: 'GFS Didot', serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Xanh Mono', monospace;
    font-family: 'La Belle Aurore', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
}

.CONTAINER{
    height: 100%;
    padding: 1rem 4%;
}

.TITULO{
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    font-weight: 900;
}

@media screen and (min-width: 768px){
    .TITULO{
        font-size: 8rem;
    }
}