.hardkills{
    background: #F5DF4D;
}

.hardskills__titulo{
    text-align: center;
    color: #a99510;
    margin-bottom: 1rem;
}

.hardskills__items{
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.hardskills__item{
    width: 35%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 0.1rem solid black;
    background: black;
    box-shadow: 5px 5px 0 0 #a99510;
}

.hardskills__imagen{
    width: 45%;
    margin: 1rem;
}

.hardskills__imagen--css{
    margin-bottom: 0;
    margin-top: 0;
}

.hardskills__nombre{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
    text-align: center;
    color: #F5DF4D;
    margin-bottom: 1.1rem;
}

@media screen and (min-width: 480px){
    .hardskills__items {
        gap: 1.8rem;
    }
    .hardskills__item{
        height: 170px;
    }
    .hardskills__nombre{
        font-size: 1.3rem;
    }
    .hardskills__imagen{
        width: 4.5rem;
    }

}

@media screen and (min-width: 768px){
    .hardskills__items {
        row-gap: 2rem;
        padding: 1rem 0;
    }
    .hardskills__item{
        width: 12rem;
        height: 220px;
    }
    .hardskills__imagen--css{
        width: 50%;
        margin: 0;
    }
    .hardskills__nombre{
        font-size: 1.7rem;
    }
}