.head{
    display: flex;
    flex-direction: column;
    background: #232323;
    padding-bottom: 2px;
}

.head__logo{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid whitesmoke;
    border-style: double;
}

.head__nombre{
    flex-grow: 1;
    text-align: left;
    align-self: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.32rem;
    color: whitesmoke;
    text-decoration: none;
}

.head__navegacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.head__item__texto{
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;

    width: 100%;
    height: 1.5rem;
    text-align: center;
    border-radius: 5px;
    padding-top: 0.8rem;
}

.head__item__texto:hover{
    background: #F5DF4D;
    color:#232323;
    border: 0.1rem solid  #F5DF4D;
}

.head__containerBoton{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-align: center;
}

.head__boton{
    width: 100%;
    height: 2.2rem;
    background: #F5DF4D;
    border: 0.1rem solid #F5DF4D;
    border-radius: 5px;
    color: #232323;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    font-weight: 500;
}

.head__boton:hover{
    background: #F5DF4D;
    border: 0.1rem solid  #F5DF4D;
}

