.pieDePagina{
    background: #232323;
}

.pieDePagina__descripcion{
    font-family: 'GFS Didot', serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding-bottom: 1rem;
}

.pieDePagina__barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
}

.pieDePagina__enlaces{
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    margin: 1.5rem 0;
}

.textoAutor{
    text-align: center;
    font-family: 'Roboto Mono';
    color: white;
}

@media screen and (min-width: 768px){
    .pieDePagina{
        padding: 2rem 0;
    }
    .pieDePagina__enlaces{
        gap: 4rem;
    }
}
