.proyectos{
    background: #949597;
}

.proyectos__cajaPrincipal{
    background: white;
    border-radius: 10px;
    margin: 1rem 0;
}

.proyectos__tituloPrincipal{
    color: #949597;
    text-align: center;
    margin-bottom: 1rem;
}

.proyectos__tipos{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    width: 92%;
    margin: 0 4%;
}

/*================ Cajas de Proyectos ===================*/

.proyectos__caja{
    height: 40%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    padding: 1rem 1rem;
    border-radius: 10px;
}

.proyectos__caja--programacion{
    background: #f5df4de6;
}

.proyectos__caja--fotografia{
    margin-bottom:1rem;
    background: #d3d3d3;
}

.proyectos__tarjeta{
    height: 30rem;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background: white;
    border-radius: 10px;
}

.proyectos__tarjeta--tarjetaTituloProgramación{
    display: flex;
    background: #f5df4de6;
    justify-content: center;
    border-right: 0.2rem solid #545454;
    border-bottom: 0.2rem solid #545454;
}

.proyectos__tarjeta--tarjetaTituloFotografo{
    display: flex;
    background: #d3d3d3;
    justify-content: center;
    border-right: 0.2rem solid #545454;
    border-bottom: 0.2rem solid #545454;
}

.proyectos__titulo--tarjeta{
    height: 15%;
    background: #232323;
    color: #ffffff;
    font-family: 'Roboto Mono';
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 0.6rem;
    border-radius: 10px 10px 0 0;
}

.programacion__imagen{

}

.proyectos__descripcion{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 0.9rem;
    flex-grow: 1;
}

.proyecto__programas{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 0.9rem;
    text-align: center;
    padding: 0 0.6rem 0.6rem 0.6rem;
}

.proyecto__repositorioProbar{
    display: flex;
    justify-content: stretch;
    width: 100%;
    background: #232323;
    border-radius: 0 0 10px 10px;
}

.proyectos__repositorio{
    color: #ffffff;
    font-family: 'Roboto Mono';
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    padding: 0.6rem;
    text-decoration: none;
    flex-grow: 1;
}

.proyectos__probar{
    flex-grow: 1;
    color: #ffffff;
    font-family: 'Roboto Mono';
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    padding: 0.6rem;
    text-decoration: none;
}

/*================ Titulos de las cajas ===================*/
.proyectos__titulo--inicioTarjeta{
    padding: 1.5rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.9rem;
    text-transform: uppercase;
    color:#707070;
}

.proyectos__titulo--inicioTarjetaFotografo{
    padding: 1.5rem;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.9rem;
    text-transform: uppercase;
    color: #fff;
}


.proyecto__titulos{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    height: 2rem;
    width: 80vw;
}

.proyectos__titulo{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.proyectos__titulo--programacion{
    color: #f5df4de6;
    text-align: left;
    margin-top: -0.7324218rem;
}

.proyectos__titulo--fotografia{    
    color: #d3d3d3;
    text-align: right;
    padding-top: 1.44rem;
}

@media screen and (min-width: 768px){
    .proyectos__descripcion{
        font-size: 1.3rem;
    }
    .proyectos__titulo{
        font-size: 2rem;
    }
    .proyectos__titulo--inicioTarjeta{
            font-size: 2.5rem;
    }

    .proyectos__titulo--programacion{
        margin-top: -0.79rem;
    }
    .proyectos__titulo--fotografia{
        padding-top: 0.75rem;
    }
}

@media screen and (min-width: 1024px){
    .proyectos__caja{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
    }
    .proyectos__tarjeta{
        max-width: 300px;
    }
    
    .proyectos__titulo--programacion{
        margin-top: -0.9rem;
        padding-left: 2rem;
    }
    .proyectos__titulo--fotografia{
        padding-right: 2rem;
    }
}