.sobreMi{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #949597;
}

.sobreMi__titulo{
    text-align: left;
    color: #f5df4d;
    margin-bottom: -12px;
}

.sobreMi__contenido{
    background: #F5DF4D;
    padding: 1rem;
    border-radius: 5px;
}

.sobreMi__parrafo{
    font-family: 'GFS Didot', serif;
    font-size: 1.1rem;
    text-align: right;
    color: rgb(111, 111, 111);
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
}

.sobreMi__foto{
    width: 35%;
    height: 35%;
    border-radius: 100%;
    align-self: center;
    border: 0.6rem solid #f5df4d;
    margin: 1rem 0;
}

@media screen and (min-width: 768px){
    .sobreMi__titulo{
        margin-bottom: -26px;
    }
}